body {transition: background 0.3s, color 0.3s;}
.dark-mode {background:#121212; color:#f9f9f9;}
.dark-mode .navbar, .dark-mode footer {background:#222 !important;}
img {border:1px solid #ccc; padding:5px; background:#fff;}
